

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <div class="main">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/homePage">Contact App </a>
      </li>
    </div>
    <div class="second" >
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactList">All List</a>
      </li>
    </div>
    <div class="third">
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactRegister">Add Contact</a>
      </li>
    </div>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
